/* div, section, article, nav, aside, main, h1, ul, img {
	outline: 1px solid green;
}  */

.clearfix::before,
.clearfix::after,
.container::before,
.container::after {
    content:'';
    display:table;
    clear:both;
}

* {
	box-sizing: border-box
}

body {
	position: relative;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	color: #ffffff;
	font-weight: normal;

	background: #849d8f;
}

.container {
	width: 900px;
	padding: 0 20px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	padding: 0 20px;
	
	vertical-align: top;
	line-height: 42px;
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 21px;
	border: none;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	
}

.btn:hover {
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.text-input {
	padding: 10px 15px;
	
	font-size: 14px;
	
	
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.text-input:hover {
	border: 2px solid #d3d3d2;
}

.text-input:focus{
	border: 2px solid #8fbdec;
	outline: none;
}

.main-header {
	margin-bottom: 0;
	min-height: 74px;
}

.header-logo {
	float: left;
	width: 154px;
	height: 64px;
	margin-top: 10px;
	
	line-height: 0;
}

.header-right {
	position: relative;
	float: right;
	max-width: 300px;
	margin-top: 23px;
}

.header-buttons {
	font-size: 0;
}

.header-buttons a{
	display: inline-block;
	vertical-align: top;
	height: 32px;
	margin-right: 10px;
	
	font-size: 14px;
	line-height: 32px;
	color: #ffffff;
	text-decoration: none;
	
	background: rgba(255, 255, 255, 0.2);
	
	border-radius: 16px;
}

.header-buttons a:last-child {
	margin-right: 0;
}

.header-buttons .search {
	width: 32px;
}

.header-buttons .login {
	width: 90px;
	padding-left: 45px;
}

.header-buttons .cart {
	width: 120px;
	padding-left: 45px;
}

.header-contacts {
	position: absolute;
	width: 200px;
	top: 50px;
	right: 0;
	
	font-size: 14px;
	text-align: right;
}

.contact-number {
	display: block;

	font-size: 22px;
	font-weight: bold;
}

.main-navigation {
	overflow: hidden;
	margin-top: 23px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
	font-size: 0;
}

.main-item{
	display: inline-block;
	vertical-align: top;
	height: 32px;
	
	font-size: 16px;
	font-weight: bold;
}

.main-item a {
	display: block;
	padding: 0 15px;
	
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	line-height: 32px;
}

.main-item:hover a {
	border-radius: 16px;
	
	color: #333333;
	text-decoration: none;
	
	background: #e0dfdd;
}

.slider-radio {
	display: none;
}

.slider-bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.slider-bg1 {
	display: none;
	background: #849d8f url('../img/light1.png') no-repeat center top;
}

.slider-bg2 {
	display: none;
	background: #8996a6 url('../img/light2.png') no-repeat center top;
}

.slider-bg3 {
	display: none;
	background: #9d8b84 url('../img/light3.png') no-repeat center top;
}

.products-slider {
	position: relative;
	height: 600px; 
	margin-bottom: -30px;
}

.slider-slide {
	display: none;
	position: relative;
	height: 600px;
	padding-top: 320px;
	
	text-align: center;
}

.slider-slide img {
	position: absolute;
	top: 10px;
	transform: translate(-50%);
}

.slide-title {
	position: relative;
	width: 680px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 0;
	
	font-size: 60px;
	line-height: 61px;
	font-weight: bold;
}

.slide-btn {
	position: relative;
	padding: 0 45px;

	font-size: 32px;
	line-height: 62px;
	
	border-radius: 31px;
}

.slider-controls {
	position: absolute;
	left: 0;
	bottom: 80px;
	
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	
	vertical-align: top;
	
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#btn-1:checked ~ .slider-bg1,
#btn-2:checked ~ .slider-bg2,
#btn-3:checked ~ .slider-bg3 {
	display: block;
}

#btn-1:checked ~ .products-slider .slider-slide1,
#btn-2:checked ~ .products-slider .slider-slide2,
#btn-3:checked ~ .products-slider .slider-slide3 {
	display: block;
}

#btn-1:checked ~ .products-slider label[for="btn-1"],
#btn-2:checked ~ .products-slider label[for="btn-2"],
#btn-3:checked ~ .products-slider label[for="btn-3"] {
	background: #ffffff;
}

.promo-list {
	position: relative;
	margin-bottom: 30px;
	z-index: 10;
	
	background: transparent;
}

.promo {
	min-height: 210px;
	width: 420px;
	padding: 25px 20px;
	
	font-size: 18px;
	font-weight: bold;
	
	border-radius: 15px;
}

.promo-rasberry {
	float: left;
	
	background: url('../img/bg-rasberry.jpg') repeat 0 0;
}

.promo-choco {
	float: right;
	
	background: url('../img/bg-choco.jpg') repeat 0 0;
}

.promo-title {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	
	font-size: 35px;
}

.promo-btn {
	float: right;
}

.product-list {
	font-size: 0;
}

.product {
	position: relative;
	display: inline-block;
	width: 200px;
	min-height: 300px;
	margin-right: 20px;
	margin-bottom: 40px;
	padding: 10px 0;
	
	vertical-align: top;
	font-size: 16px;
}

.product:hover {
	background: rgba(255, 255, 255, 0.3);
}

.product:nth-child(4n) {
	margin-right: 0;
}

.product-photo img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	
	line-height: 0;
}

.product-name {
	display: block;
	padding: 0 2px;
	
	color: #ffffff;
	font-weight: 500;
	text-align: center;
}

.product-price {
	position: absolute;
	top: 145px;
	left: 0;
	
	font-weight: bold;
	font-size: 45px;
	
}

.product-btn-wrapper {
	display: none;
	position: absolute;
	top: 300px;
	width: 200px;
	z-index: 10;
	
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.product:hover .product-btn-wrapper {
	display: block;
}

.product-btn {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;

	font-size: 15px;
}

.product-price .small {
	font-size: 30px;
}

.hit-product::after {
	content: '';
	
	position: absolute;
	top: 0;
	left: 0;
	width: 61px;
	height: 61px;
	background: url('../img/hit.png') no-repeat 0 0;
}

.features {
	padding: 25px 20px 15px 20px;
	margin-bottom: 40px;
	
	font-size: 0;
	color: #323232;
	
	background: #eee1c5 url('../img/bg-waffle.jpg') repeat 0 0;
	border-radius: 15px;
}

.feature-title {
	margin: 0;
	margin-bottom: 15px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.feature {
	display: inline-block;
	width: 400px;
	margin-bottom: 10px;
	
	vertical-align: top;
	font-size: 16px;
	line-height: 22px;
}

.feature:nth-child(2n+1) {
	margin-right: 20px;
}

.feature-icon {
	float: left;
	height: 48px;
	width: 48px;
	margin-right: 10px;
	
	border: 2px solid #323232;
	border-radius: 50%;
}

.feature-text {
	margin: 0;
	padding-top: 15px;	
	
	overflow: hidden;
}

.news-list {
	margin-bottom: 40px;
}

.news-item {
	width: 420px;
	min-height: 220px;
	padding: 25px 20px;
	
	color: #353535;
	font-weight: 500;
	
	background: #ffffff;
	
	border-radius: 15px;
}

.news-blog {
	float: left;
	padding-right: 100px;
	
	background: url('../img/bg-strawberry.jpg') no-repeat 100% 0;
}

.news-blog p {
	margin-top: 0;
	margin-bottom: 10px;
}

.post-title {
	color: #353535;
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
	
	background: rgba(255, 255, 255, 0.8);
}

.news-subscribe {
	position: relative;
	float: right;
	padding: 5px;
	
	background: #ffffff url('../img/post-pattern.png') repeat 0 0;
}

.news-subscribe  .news-subscribe-inner {
	padding: 20px;
	min-height: 210px;
	
	background: #ffffff;
	border-radius: 10px;
}

.news-subscribe p {
	margin-top: 10px;
}

.news-subscribe .text-input {
	float: left;
	width: 225px;

	font-size: 16px;
}

.news-subscribe .news-btn {
	float: right;
}

.map {
	height: 430px;
	
	background: url('../img/map.jpg') no-repeat center 0;
}

.map-contacts {
	float: right;
	width: 300px;
	margin-top: 65px;
	padding: 30px 25px;
	
	color: #343434;
	font-size: 14px;
	line-height: 20px;
	
	background: #ffffff;
	border-radius: 15px;
}

.map-contacts-item {
	margin-bottom: 15px;
}

.contacts-info {
	display: block;
	margin: 5px 0;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.main-footer {
	padding: 20px 0;
}

.footer-social {
	float: left;
	margin-right: 20px;
	
	font-size: 0;
}

.social-btn {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin-right: 10px;
	
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.footer-copyright {
	float: right;
}

.footer-copyright-logo {
	display: block;
	width: 108px;
	height: 37px;
}

.footer-copyright-info {
	font-size: 12px;
}

.footer-copyright-info a {
	color: #ffffff;
}

.footer-info {
	width: 360px;
	font-size: 0;
	margin: 0 auto;
}

.footer-info a {
	display: inline-block;
	vertical-align: top;
	width: 180px;

	color: #ffffff;
	font-size: 13px;
}

.footer-info a:nth-child(2n+1) {
	padding-left: 40px;
}

.footer-info a:first-child {
	font-weight: bold;
}


/* catalog */

.inner-page .main-header{
	margin-bottom: 25px;
}

.breadcrumbs {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	
	list-style: none;
	font-size: 0;
}

.breadcrumbs li {
	display: inline-block;
	margin-right: 10px;
	
	font-size: 14px;
}

.breadcrumbs a {
	margin-right: 10px;
	
	color: #ffffff;
}

.main-title {
	margin: 0;
	margin-bottom: 25px;
	
	font-size: 35px;
	line-height: 35px;
}

.filter {
	margin-bottom: 40px;
	font-size: 0;
}

.filter-row {
	border: none;
	margin: 0;
}

.filter-row:not(:last-child) {
	margin-bottom: 15px;
}

.filter-item {
	display: inline-block;
	margin-right: 15px;
	vertical-align: top;
	font-size: 16px;
}

.filter-sort {
	width: 194px;
}

.filter-price {
	width: 219px;
}

.filter-fatness {
	width: 415px;
	margin-right: 0;
}

.filter-topping {
	width: 700px;
}

.filter-btn {
	width: 145px;
	height: 32px;
	vertical-align: bottom;
	padding: 0;
	
	font-size: 16px;
	line-height: 28px;
	
	background: transparent;
	box-shadow: none;
	border: 2px solid #fbfcfb;
	outline: none;
}

.filter-btn:hover {
	color: #343434;
	
	background: #fafbfb;
	box-shadow: none;
	border: none;
	outline: none;
}

.filter-btn:active {
	color: #343434;
	
	background: #ededed;
	border: none;
	outline: none;
	box-shadow: inset 0 2px #696969;
}

.filter-title {
	display: inline-block;
	margin-bottom: 5px;
	padding-left: 15px;
	
	font-size: 14px;
	font-weight: 500;
}

.price-controls input[type="text"] {
	width: 30px;

	background: transparent;
	border: none;
	outline: none;
}

.filter-bg {
	height: 32px;
	padding: 0 15px;
	padding-right: 5px;
	
	line-height: 32px;
	
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
}

.filter-sort-bg select{
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
}

.filter-sort-bg:hover {
	color: #343434;
	
	background: #fbfcfb;
}

.filter-sort-bg:hover select{
	border: none;
}

.filter-sort-bg select:focus{
	border: none;
	outline: none;
}

.filter-sort-bg option {
	color: #343434;
}


.paginator {
	margin-top: 80px;
	margin-bottom: 30px;
}

.pages {
	float: right;
	margin: 0;
	padding: 0;
	
	color: #ffffff;
	list-style: none;
}

.page {
	display: inline-block;
	width: 26px;
	height: 26px;	
	
	border-radius: 50%;
}

.page-arrow {
	display: inline-block;
	height: 26px;
	font-size: 22px;
}

.page-arrow a {
	color: #ffffff;
	text-decoration: none;	
}

.page-left {
	margin-right: 15px;
}

.page-right {
	margin-left: 15px;
}

.page-left span,
.page-right span {
	opacity: 0.2;
}

.page a, 
.page span{
	display: block;
	width: 26px;
	height: 26px;
	
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	line-height: 26px;
	
	border-radius: 50%;
}

.page.active span {
	background: #ffffff;
	color: #343434;	
}

.page a:hover {
	background: rgba(255, 255, 255, 0.2);
}

